@font-face {
  font-family: "SpaceMono Nerd Font";
  font-display: swap;
  src:
    local("SpaceMono Nerd Font"),
    url(),
    url();
}

:root {
  color-scheme: dark;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  overflow-x: clip;
}

html.loaded {
  transition: background-color 0.2s ease-in-out;
}

body {
  display: grid;
  color: ;
  font-family: SpaceMono Nerd Font, monospace;
  justify-content: center;
  align-items: center;
}

#greeting {
  font-size: 2.5em;
  font-weight: 900;
  grid-column: 1/-1;
  text-align: center;
  display: grid;
}

.header {
  font-size: 1.6em;
  font-weight: 600;
}

#stream {
  display: grid;
}

#links {
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

ul {
  list-style-type: none;
  padding-left: 1em;
  margin-left: 0;
}
